.card-category {
  height: 250px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  // background-size: cover;
  // background-position: center;

}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  height: 250px;

//   display: flex;
//   justify-content: space-between;
//   flex-wrap: wrap;
}
